body {
  font-family: "Cinzel", serif;
  background-color: #ffffff;
  color: #222222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-title {
  color: #8b0000;
  text-align: center;
  text-shadow: 0 0 2px rgba(139, 0, 0, 0.1);
}

.about-container {
  animation: fadeIn 0.8s ease-in-out;
  flex: 1;
  max-width: 900px;
  margin: 3rem auto 2rem;
  padding: 2rem;
  background: linear-gradient(145deg, #ffffff, #f9f9f9);
  border: 1px solid #ddd;
  border-radius: 0.7rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);

}

.about-text {
  font-size: 1.1rem;
  text-align: center;
  color: #333;
  line-height: 1.6;
  margin-top: 1rem;
}


  @keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }

}
