@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');


/* NavBar */

 .navbar {
    background: linear-gradient(14deg, #1c1c1c, #2a0d0d);   
    font-family: 'Cinzel', serif;
  }

  .navbar-brand img {
    filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.6));
    transition: transform 0.3s ease;
  }

  .navbar-brand img:hover {
    transform: scale(1.1);
  }

  .nav-link {
    position: relative;
    color: #f5f5f5 !important;
    margin-right: 10px;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }

  .nav-link::after {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: crimson;
    transition: width 0.4s ease;
  }

  .nav-link:hover {
    color: crimson !important;
  }

  .nav-link:hover::after {
    width: 100%;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='crimson' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }








